@media screen and (min-width: 1300px) {
  #pageWrapper {
    display: grid;
    grid-template-columns: 40% auto;
    grid-column-gap: 5%; 
    padding-bottom: 3%;
  }

  #navbar, 
  #footer {
    grid-column-start: 1;
    grid-column-end: span 2;
    min-height: 5%; 
    padding-right: 40%; 
  }

  #navbar {
    grid-row-start: 1; 
  }

  #introduction {
    grid-column-start: 1;
    grid-row-start: 2; 
  }

  #rightColumn {
    grid-column-start: 2; 
    grid-row-start: 2; 
  }

  #surveyWrapper {
    grid-column-start: 1;
    grid-row-start: 3;
  }

  #loginWrapper {
    grid-column-start: 2;
    grid-row-start:3; 
  }

  #mapWrapper {
    grid-column-end: span 2;
    grid-column-start: 1;
    grid-row-start: 4; 
  }

  #footer {
    grid-row-start: 5; 
  }
} 

#introduction, 
#basicInfo,
#projects {
  margin-left: 5%;
  margin-right: 5%; 
  padding-left: 5%; 
  padding-right: 5%; 
  max-width: 80%;  
}

#introduction {
  margin-right: 10%; 
  margin-left: 10%;
}

#navbar, 
#footer {
  background-color: #047fbd; 
  display: inline-flex; 
  padding-left: 10%;
  width: 100%; 
}

#footer {
  color: aliceblue; 
}

.navButton {
  background-color: antiquewhite;
  color: black; 
  font: 20pt; 
  max-width: 100px;
  min-width: 80px; 
  margin: 5%; 
  padding: 5px;
}

#hobbyWrapper {
  height: 100px;
  margin-top: 1%;
  max-width: 300px;
  padding: 2%; 
}

#headshotWrapper {
  min-width: 500px;
  max-width: 600px;
  position: relative;
}

.headshot {
  display: block; 
  min-width: 500px;
  max-width: 600px; 
  width: 100%; 
}

#headshotCaption {
  background: rgba(0, 0, 0, 0.5);
  color: white; 
  bottom: 0; 
  font-size: 20px;
  opacity: 0;
  padding: 10px;
  position: absolute; 
  text-align: center;
  transition: .4s ease;
  width: inherit; 
}

#headshotWrapper:hover #headshotCaption {
  opacity: 1; 
}

.h1, 
.h2, 
.h3,
.span 
.li, 
.p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.h1 {
  font-size: 35px;
}

.h2,
.span {
  font-size: 30px;
}

.h3, 
.li, 
.p {
  font-size: 25px;
}

#projectWrapper {
  display: grid;
  grid-template-columns: auto auto ; 
  grid-column-gap: 3%;
  grid-row-gap: 0; 
  margin-right: 20%; 
  padding-top: 2%;
  padding-bottom: 3%; 
}

#projectNlp, 
#projectTa, 
#projectHelmet, 
#projectDescriptionNlp, 
#projectDescriptionTa, 
#projectDescriptionHelmet { 
  min-height: 100px;
  padding: 3%; 
  width: 350px;
}

#projectDescriptionNlp, 
#projectDescriptionTa, 
#projectDescriptionHelmet {
  font-size: 15px; 
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

#projectNlp {
  background-color: #6ccfe0;
  grid-column-start: 1;
  grid-row-start: 1;
}

#projectDescriptionNlp {
  grid-column-start: 2;
  grid-row-start: 1;
}

#projectTa {
  background-color: #f7d36f;
  grid-column-start: 2;
  grid-row-start: 2;
}

#projectDescriptionTa {
  grid-column-start: 1;
  grid-row-start: 2;
}

#projectHelmet {
  background-color: #e0b9f0;
  grid-column-start: 1;
  grid-row-start: 3;
}

#projectDescriptionHelmet {
  grid-column-start: 2;
  grid-row-start: 3;
}

#surveyWrapper {
  display: block; 
  background-color: yellow; 
  padding: 10%; 
  position: relative;
  width: 100%;
}

#quoteWrapper {
  width: 40%; 
}

#loginWrapper {
  background-color: antiquewhite; 
  padding: 10%; 
  width: 100%;
}

#createNickname {
  visibility: hidden; 
}

#mapWrapper {
  min-height: 500px; 
  padding: 10%; 
}

#simpleMap {
  height: 100%;
}
