@media screen and (min-width: 1300px) {
  #page-wrapper {
    display: grid;
    grid-column-gap: 5%; 
    grid-template-columns: 40% auto;
    padding-bottom: 3%;
  }

  #navbar, 
  #footer {
    grid-column-end: span 2;
    grid-column-start: 1;
    min-height: 5%; 
    padding-right: 40%; 
  }

  #navbar {
    grid-row-start: 1; 
  }

  #introduction {
    grid-column-start: 1;
    grid-row-start: 2; 
  }

  #right-column {
    grid-column-start: 2; 
    grid-row-start: 2; 
  }

  #map-wrapper {
    grid-column-end: span 2;
    grid-column-start: 1;
    grid-row-start: 3; 
  }

  #survey-wrapper {
    grid-column-start: 1;
    grid-row-start: 4;
  }

  #login-wrapper {
    grid-column-start: 2;
    grid-row-start: 4; 
  }

  #footer {
    grid-row-start: 5; 
  }
} 

#introduction, 
#basic-info,
#projects {
  margin-left: 5%;
  margin-right: 5%; 
  max-width: 80%;
  padding-left: 5%; 
  padding-right: 5%; 
}

#introduction {
  margin-left: 10%;
  margin-right: 10%;
}

#navbar, 
#footer {
  background-color: #047fbd; 
  display: inline-flex; 
  padding-left: 10%;
  width: 100%; 
}

#footer {
  color: aliceblue; 
}

.nav-button {
  background-color: antiquewhite;
  color: black; 
  font: 20pt; 
  margin: 5%;
  max-width: 100px;
  min-width: 80px; 
  padding: 5px;
}

#hobby-wrapper {
  height: 100px;
  margin-top: 1%;
  max-width: 300px;
  padding: 2%; 
}

#headshot-wrapper {
  max-width: 600px;
  min-width: 500px;
  position: relative;
}

.headshot {
  display: block; 
  max-width: 600px; 
  min-width: 500px;
  width: 100%; 
}

#headshot-caption {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: white; 
  font-size: 20px;
  opacity: 0;
  padding: 10px;
  position: absolute; 
  text-align: center;
  transition: .4s ease;
  width: inherit; 
}

#headshot-wrapper:hover #headshot-caption {
  opacity: 1; 
}

.h1, 
.h2, 
.h3,
.span 
.li, 
.p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.h1 {
  font-size: 35px;
}

.h2,
.span {
  font-size: 30px;
}

.h3, 
.li, 
.p {
  font-size: 25px;
}

#project-wrapper {
  display: grid;
  grid-column-gap: 3%;
  grid-row-gap: 0;
  grid-template-columns: auto auto ; 
  margin-right: 20%;
  padding-bottom: 3%; 
  padding-top: 2%;
}

#project-nlp, 
#project-ta, 
#project-helmet, 
#project-description-nlp, 
#project-description-ta, 
#project-description-helmet { 
  min-height: 100px;
  padding: 3%; 
  width: 350px;
}

#project-description-nlp, 
#project-description-ta, 
#project-description-helmet {
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 15px; 
}

#project-nlp {
  background-color: #6ccfe0;
  grid-column-start: 1;
  grid-row-start: 1;
}

#project-description-nlp {
  grid-column-start: 2;
  grid-row-start: 1;
}

#project-ta {
  background-color: #f7d36f;
  grid-column-start: 2;
  grid-row-start: 2;
}

#project-description-ta {
  grid-column-start: 1;
  grid-row-start: 2;
}

#project-helmet {
  background-color: #e0b9f0;
  grid-column-start: 1;
  grid-row-start: 3;
}

#project-description-helmet {
  grid-column-start: 2;
  grid-row-start: 3;
}

#survey-wrapper {
  display: block; 
  background-color: yellow; 
  padding: 10%; 
  position: relative;
  width: 100%;
}

#quote-wrapper {
  width: 40%; 
}

#login-wrapper {
  background-color: antiquewhite; 
  padding: 10%; 
  width: 100%;
}

#create-nickname {
  visibility: hidden; 
}

#map-wrapper {
  margin-bottom: 5%; 
  min-height: 500px; 
  min-width: 500px; 
  padding: 10%; 
}

#simple-map {
  height: 500px;
  width: 100%; 
}
