#introduction, #basic-info, #projects {
    border-style: solid; 
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 10%; 
  padding-right: 5%; 
  width: 60%;
}

#hobby-container {
  margin-top: 3%;
}

#headshot {
    min-width: 500px;
}

.h1, .h2, .h3, .li, .p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.h1 {
    font-size: 30px;
}

.h2 {
    font-size: 25px;
}

.h3, .li, .p {
    font-size: 15px;
}


#projects {
    display: grid;
    grid-template-columns: auto, auto; 

}

.project {
    min-width: 20%;
    max-width: 30%;
}